{% extends "base.html" %}

{% block login %} Login {% endblock %}
{% block register %} Register {% endblock%}

{% block content%}
<section class="main-body">
    <div class="container-fluid">
        <div class="row">
<!--            <div class="col-md-2 self-notices">
                {% block ownNotice %}
                {% endblock %}
                </div>-->
            <div class="col-md-10 others-section">
                <div class="container others-notices">
                    <div class="row">
                        <div class="col-md-3">
                            <h4>Title</h4>
                            <span class="left-p"><p>By: Prajin Bajracharya</p></span>
                            
                        </div>
                        <div class="col-md-7">
                            <h6>DescriptionDescriptionDescriptionDescriptionDescriptionDescriptionDescriptionDescription</h6>
                            <span class="left-p"><p>Created: 2019/02/02 00:00:00</p></span>
                            <span class="left-p"><p>Updated: 2019/02/02 00:00:00</p></span>                                
                        </div>
                    </div>
                </div>
                
                <div class="container others-notices">
                    <div class="row">
                        <div class="col-md-3">
                            <h4>Title</h4>
                            <span class="left-p"><p>Created: 2019/02/02 00:00:00</p></span>
                        </div>
                        <div class="col-md-7">
                            <h6>DescriptionDescriptionDescriptionDescriptionDescriptionDescriptionDescriptionDescription</h6>
                            <span class="left-p"><p>By: Prajin Bajracharya</p></span>
                            <span class="left-p"><p>Updated: 2019/02/02 00:00:00</p></span>                                
                        </div>
                    </div>
                </div>

                <div class="container others-notices">
                    <div class="row">
                        <div class="col-md-3">
                            <h4>Title</h4>
                            <span class="left-p"><p>Created: 2019/02/02 00:00:00</p></span>
                        </div>
                        <div class="col-md-7">
                            <h6>DescriptionDescriptionDescriptionDescriptionDescriptionDescriptionDescriptionDescription</h6>
                            <span class="left-p"><p>By: Prajin Bajracharya</p></span>
                            <span class="left-p"><p>Updated: 2019/02/02 00:00:00</p></span>                                
                        </div>
                    </div>
                    </div>
            </div>
        </div>
    </div>

</section>
{% endblock %}